@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

.category-search {
    transition: .2s all ease-in-out;
}

.profile-options {
    transition: .2s all ease-in-out;
}

.category-slide-up {
    z-index: -1;
    opacity: 0;
    transform: translateY(55%);
}

.category-slide-down {
    z-index: 2;
    opacity: 1;
    transform: translateY(63%);
}

.profile-slide-up {
    z-index: -1;
    opacity: 0;
    transform: translateY(0);
}

.profile-slide-down {
    z-index: 2;
    opacity: 1;
    transform: translateY(10%);
}